In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import datetime
import pytz
import pvlib

In [2]:
inv_path = "/Users/nataly/opt/AnacondaProjects/SAPIENS/INVERTER/"
gti_path = "/Users/nataly/opt/AnacondaProjects/SAPIENS/BSRNminGTI/"
ghi_path = "/Users/nataly/opt/AnacondaProjects/SAPIENS/BSRNmin/"

In [3]:
dfCDT  = pd.read_csv(inv_path + 'CDT.csv')

In [5]:
dfCDT['TIMESTAMP'] = dfCDT['TIMESTAMP'].astype(np.datetime64)

In [6]:
dfCDT = dfCDT.set_index('TIMESTAMP')

In [7]:
dfCDT

,E_tot,V_grid,I_grid,P_grid,F_grid,P_in1,V_in1,I_in1,P_in2,V_in2,I_in2,T_inverter,T_booster,R_iso
TIMESTAMP,,,,,,,,,,,,,,
2017-07-04 10:45:00,2193.921,234.6536,6.196396,1434.9640,59.98176,1479.3440,319.4513,4.700523,0.0,0,0,39.08350,33.51683,5.0
2017-07-04 10:46:00,2193.947,234.8455,6.196651,1439.2920,59.99952,1484.0010,319.8006,4.718031,0.0,0,0,39.08350,33.30969,5.0
2017-07-04 10:47:00,2193.972,234.7815,6.211050,1441.4260,60.00360,1486.0060,319.7704,4.747102,0.0,0,0,39.21859,33.41356,5.0
2017-07-04 10:48:00,2193.993,234.6642,6.275977,1450.1460,60.00192,1495.5130,320.0895,4.776174,0.0,0,0,39.24561,33.30969,5.0
2017-07-04 10:49:00,2194.021,234.4241,6.284834,1456.0430,59.98608,1501.0760,320.4254,4.810109,0.0,0,0,39.24561,33.15329,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-11 15:09:00,13115.830,215.2951,2.661140,552.9396,59.97337,570.0408,311.8500,1.941638,0.0,0,0,44.47314,38.33249,5.0
2021-02-11 15:10:00,13115.840,215.6855,2.843410,590.6448,60.01645,608.0389,312.9937,2.030582,0.0,0,0,44.47314,38.43271,5.0
2021-02-11 15:11:00,13115.840,215.6725,2.846778,598.1732,60.00326,615.9943,313.4791,2.041984,0.0,0,0,44.40621,38.42018,5.0
2021-02-11 15:12:00,13115.860,215.6638,2.798108,597.4203,59.97649,615.8973,313.7646,2.058465,0.0,0,0,44.31250,38.33249,5.0
2021-02-11 15:13:00,13115.870,215.8088,2.816951,602.2512,60.00048,620.7158,313.9896,2.075810,0.0,0,0,44.31250,38.33249,5.0

In [119]:
dfCDT = dfCDT[~dfCDT.index.duplicated(keep='first')]

AttributeError: 'DatetimeIndex' object has no attribute 'index'

In [117]:
dfCDT

DatetimeIndex(['2017-07-04 10:45:00', '2017-07-04 10:46:00',
               '2017-07-04 10:47:00', '2017-07-04 10:48:00',
               '2017-07-04 10:49:00', '2017-07-04 10:50:00',
               '2017-07-04 10:51:00', '2017-07-04 10:52:00',
               '2017-07-04 10:53:00', '2017-07-04 10:54:00',
               ...
               '2021-02-11 15:04:00', '2021-02-11 15:05:00',
               '2021-02-11 15:06:00', '2021-02-11 15:07:00',
               '2021-02-11 15:08:00', '2021-02-11 15:09:00',
               '2021-02-11 15:10:00', '2021-02-11 15:11:00',
               '2021-02-11 15:12:00', '2021-02-11 15:13:00'],
              dtype='datetime64[ns]', name='TIMESTAMP', length=1828509, freq=None)

In [8]:
dfCDTnosync = dfCDT[dfCDT.index < '2018-11-27 00:00:00']  # this part is in BRT (GMT - 3)

In [9]:
dfCDTnosync.index = dfCDTnosync.index.tz_localize('Etc/GMT+3')

In [10]:
dfCDTnosync.index

DatetimeIndex(['2017-07-04 10:45:00-03:00', '2017-07-04 10:46:00-03:00',
               '2017-07-04 10:47:00-03:00', '2017-07-04 10:48:00-03:00',
               '2017-07-04 10:49:00-03:00', '2017-07-04 10:50:00-03:00',
               '2017-07-04 10:51:00-03:00', '2017-07-04 10:52:00-03:00',
               '2017-07-04 10:53:00-03:00', '2017-07-04 10:54:00-03:00',
               ...
               '2018-11-26 23:50:00-03:00', '2018-11-26 23:51:00-03:00',
               '2018-11-26 23:52:00-03:00', '2018-11-26 23:53:00-03:00',
               '2018-11-26 23:54:00-03:00', '2018-11-26 23:55:00-03:00',
               '2018-11-26 23:56:00-03:00', '2018-11-26 23:57:00-03:00',
               '2018-11-26 23:58:00-03:00', '2018-11-26 23:59:00-03:00'],
              dtype='datetime64[ns, Etc/GMT+3]', name='TIMESTAMP', length=722614, freq=None)

In [11]:
dfCDTnosync.index = dfCDTnosync.index.tz_convert('Etc/GMT-0')

In [12]:
dfCDTnosync.index

DatetimeIndex(['2017-07-04 13:45:00+00:00', '2017-07-04 13:46:00+00:00',
               '2017-07-04 13:47:00+00:00', '2017-07-04 13:48:00+00:00',
               '2017-07-04 13:49:00+00:00', '2017-07-04 13:50:00+00:00',
               '2017-07-04 13:51:00+00:00', '2017-07-04 13:52:00+00:00',
               '2017-07-04 13:53:00+00:00', '2017-07-04 13:54:00+00:00',
               ...
               '2018-11-27 02:50:00+00:00', '2018-11-27 02:51:00+00:00',
               '2018-11-27 02:52:00+00:00', '2018-11-27 02:53:00+00:00',
               '2018-11-27 02:54:00+00:00', '2018-11-27 02:55:00+00:00',
               '2018-11-27 02:56:00+00:00', '2018-11-27 02:57:00+00:00',
               '2018-11-27 02:58:00+00:00', '2018-11-27 02:59:00+00:00'],
              dtype='datetime64[ns, Etc/GMT-0]', name='TIMESTAMP', length=722614, freq=None)

In [14]:
dfCDTsync = dfCDT[dfCDT.index > '2018-11-28 00:00:00']  #  # this part is in  (GMT - 0)
dfCDTsync.index = dfCDTsync.index.tz_localize('Etc/GMT-0')

In [19]:
dfCDTsync

,E_tot,V_grid,I_grid,P_grid,F_grid,P_in1,V_in1,I_in1,P_in2,V_in2,I_in2,T_inverter,T_booster,R_iso
TIMESTAMP,,,,,,,,,,,,,,
2018-11-28 00:01:00+00:00,0.00,0.0000,0.000000,0.0000,0.00000,0.0000,0.0000,0.000000,0.0,0,0,0.00000,0.00000,0.0
2018-11-28 00:02:00+00:00,0.00,0.0000,0.000000,0.0000,0.00000,0.0000,0.0000,0.000000,0.0,0,0,0.00000,0.00000,0.0
2018-11-28 00:03:00+00:00,0.00,0.0000,0.000000,0.0000,0.00000,0.0000,0.0000,0.000000,0.0,0,0,0.00000,0.00000,0.0
2018-11-28 00:04:00+00:00,0.00,0.0000,0.000000,0.0000,0.00000,0.0000,0.0000,0.000000,0.0,0,0,0.00000,0.00000,0.0
2018-11-28 00:05:00+00:00,0.00,0.0000,0.000000,0.0000,0.00000,0.0000,0.0000,0.000000,0.0,0,0,0.00000,0.00000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-11 15:09:00+00:00,13115.83,215.2951,2.661140,552.9396,59.97337,570.0408,311.8500,1.941638,0.0,0,0,44.47314,38.33249,5.0
2021-02-11 15:10:00+00:00,13115.84,215.6855,2.843410,590.6448,60.01645,608.0389,312.9937,2.030582,0.0,0,0,44.47314,38.43271,5.0
2021-02-11 15:11:00+00:00,13115.84,215.6725,2.846778,598.1732,60.00326,615.9943,313.4791,2.041984,0.0,0,0,44.40621,38.42018,5.0
2021-02-11 15:12:00+00:00,13115.86,215.6638,2.798108,597.4203,59.97649,615.8973,313.7646,2.058465,0.0,0,0,44.31250,38.33249,5.0
2021-02-11 15:13:00+00:00,13115.87,215.8088,2.816951,602.2512,60.00048,620.7158,313.9896,2.075810,0.0,0,0,44.31250,38.33249,5.0

In [15]:
dfCDTall = [dfCDTnosync, dfCDTsync]

In [17]:
result = pd.concat(dfCDTall)

In [18]:
result

,E_tot,V_grid,I_grid,P_grid,F_grid,P_in1,V_in1,I_in1,P_in2,V_in2,I_in2,T_inverter,T_booster,R_iso
TIMESTAMP,,,,,,,,,,,,,,
2017-07-04 13:45:00+00:00,2193.921,234.6536,6.196396,1434.9640,59.98176,1479.3440,319.4513,4.700523,0.0,0,0,39.08350,33.51683,5.0
2017-07-04 13:46:00+00:00,2193.947,234.8455,6.196651,1439.2920,59.99952,1484.0010,319.8006,4.718031,0.0,0,0,39.08350,33.30969,5.0
2017-07-04 13:47:00+00:00,2193.972,234.7815,6.211050,1441.4260,60.00360,1486.0060,319.7704,4.747102,0.0,0,0,39.21859,33.41356,5.0
2017-07-04 13:48:00+00:00,2193.993,234.6642,6.275977,1450.1460,60.00192,1495.5130,320.0895,4.776174,0.0,0,0,39.24561,33.30969,5.0
2017-07-04 13:49:00+00:00,2194.021,234.4241,6.284834,1456.0430,59.98608,1501.0760,320.4254,4.810109,0.0,0,0,39.24561,33.15329,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-11 15:09:00+00:00,13115.830,215.2951,2.661140,552.9396,59.97337,570.0408,311.8500,1.941638,0.0,0,0,44.47314,38.33249,5.0
2021-02-11 15:10:00+00:00,13115.840,215.6855,2.843410,590.6448,60.01645,608.0389,312.9937,2.030582,0.0,0,0,44.47314,38.43271,5.0
2021-02-11 15:11:00+00:00,13115.840,215.6725,2.846778,598.1732,60.00326,615.9943,313.4791,2.041984,0.0,0,0,44.40621,38.42018,5.0
2021-02-11 15:12:00+00:00,13115.860,215.6638,2.798108,597.4203,59.97649,615.8973,313.7646,2.058465,0.0,0,0,44.31250,38.33249,5.0
2021-02-11 15:13:00+00:00,13115.870,215.8088,2.816951,602.2512,60.00048,620.7158,313.9896,2.075810,0.0,0,0,44.31250,38.33249,5.0

In [20]:
dfCDTsync = [dfCDTnosync, dfCDTsync]
dfCDTsync = pd.concat(dfCDTsync)

In [21]:
dfCDTsync

,E_tot,V_grid,I_grid,P_grid,F_grid,P_in1,V_in1,I_in1,P_in2,V_in2,I_in2,T_inverter,T_booster,R_iso
TIMESTAMP,,,,,,,,,,,,,,
2017-07-04 13:45:00+00:00,2193.921,234.6536,6.196396,1434.9640,59.98176,1479.3440,319.4513,4.700523,0.0,0,0,39.08350,33.51683,5.0
2017-07-04 13:46:00+00:00,2193.947,234.8455,6.196651,1439.2920,59.99952,1484.0010,319.8006,4.718031,0.0,0,0,39.08350,33.30969,5.0
2017-07-04 13:47:00+00:00,2193.972,234.7815,6.211050,1441.4260,60.00360,1486.0060,319.7704,4.747102,0.0,0,0,39.21859,33.41356,5.0
2017-07-04 13:48:00+00:00,2193.993,234.6642,6.275977,1450.1460,60.00192,1495.5130,320.0895,4.776174,0.0,0,0,39.24561,33.30969,5.0
2017-07-04 13:49:00+00:00,2194.021,234.4241,6.284834,1456.0430,59.98608,1501.0760,320.4254,4.810109,0.0,0,0,39.24561,33.15329,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-11 15:09:00+00:00,13115.830,215.2951,2.661140,552.9396,59.97337,570.0408,311.8500,1.941638,0.0,0,0,44.47314,38.33249,5.0
2021-02-11 15:10:00+00:00,13115.840,215.6855,2.843410,590.6448,60.01645,608.0389,312.9937,2.030582,0.0,0,0,44.47314,38.43271,5.0
2021-02-11 15:11:00+00:00,13115.840,215.6725,2.846778,598.1732,60.00326,615.9943,313.4791,2.041984,0.0,0,0,44.40621,38.42018,5.0
2021-02-11 15:12:00+00:00,13115.860,215.6638,2.798108,597.4203,59.97649,615.8973,313.7646,2.058465,0.0,0,0,44.31250,38.33249,5.0
2021-02-11 15:13:00+00:00,13115.870,215.8088,2.816951,602.2512,60.00048,620.7158,313.9896,2.075810,0.0,0,0,44.31250,38.33249,5.0

In [23]:
tzETC = 'Etc/GMT-0'
naive_times = pd.date_range(start = '2018-01-01 00:00:00', end = '2021-01-01 00:00:00', freq='1Min', tz = tzETC)
naive_times = pd.DatetimeIndex(naive_times)

In [24]:
naive_times

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 00:01:00+00:00',
               '2018-01-01 00:02:00+00:00', '2018-01-01 00:03:00+00:00',
               '2018-01-01 00:04:00+00:00', '2018-01-01 00:05:00+00:00',
               '2018-01-01 00:06:00+00:00', '2018-01-01 00:07:00+00:00',
               '2018-01-01 00:08:00+00:00', '2018-01-01 00:09:00+00:00',
               ...
               '2020-12-31 23:51:00+00:00', '2020-12-31 23:52:00+00:00',
               '2020-12-31 23:53:00+00:00', '2020-12-31 23:54:00+00:00',
               '2020-12-31 23:55:00+00:00', '2020-12-31 23:56:00+00:00',
               '2020-12-31 23:57:00+00:00', '2020-12-31 23:58:00+00:00',
               '2020-12-31 23:59:00+00:00', '2021-01-01 00:00:00+00:00'],
              dtype='datetime64[ns, Etc/GMT-0]', length=1578241, freq='T')

In [58]:
pvsi = pd.DataFrame(index = naive_times)

In [59]:
pvsi

Empty DataFrame
Columns: []
Index: [2018-01-01 00:00:00+00:00, 2018-01-01 00:01:00+00:00, 2018-01-01 00:02:00+00:00, 2018-01-01 00:03:00+00:00, 2018-01-01 00:04:00+00:00, 2018-01-01 00:05:00+00:00, 2018-01-01 00:06:00+00:00, 2018-01-01 00:07:00+00:00, 2018-01-01 00:08:00+00:00, 2018-01-01 00:09:00+00:00, 2018-01-01 00:10:00+00:00, 2018-01-01 00:11:00+00:00, 2018-01-01 00:12:00+00:00, 2018-01-01 00:13:00+00:00, 2018-01-01 00:14:00+00:00, 2018-01-01 00:15:00+00:00, 2018-01-01 00:16:00+00:00, 2018-01-01 00:17:00+00:00, 2018-01-01 00:18:00+00:00, 2018-01-01 00:19:00+00:00, 2018-01-01 00:20:00+00:00, 2018-01-01 00:21:00+00:00, 2018-01-01 00:22:00+00:00, 2018-01-01 00:23:00+00:00, 2018-01-01 00:24:00+00:00, 2018-01-01 00:25:00+00:00, 2018-01-01 00:26:00+00:00, 2018-01-01 00:27:00+00:00, 2018-01-01 00:28:00+00:00, 2018-01-01 00:29:00+00:00, 2018-01-01 00:30:00+00:00, 2018-01-01 00:31:00+00:00, 2018-01-01 00:32:00+00:00, 2018-01-01 00:33:00+00:00, 2018-01-01 00:34:00+00:00, 2018-01-01 00:35:00+00:00, 2018-01-01 00:36:00+00:00, 2018-01-01 00:37:00+00:00, 2018-01-01 00:38:00+00:00, 2018-01-01 00:39:00+00:00, 2018-01-01 00:40:00+00:00, 2018-01-01 00:41:00+00:00, 2018-01-01 00:42:00+00:00, 2018-01-01 00:43:00+00:00, 2018-01-01 00:44:00+00:00, 2018-01-01 00:45:00+00:00, 2018-01-01 00:46:00+00:00, 2018-01-01 00:47:00+00:00, 2018-01-01 00:48:00+00:00, 2018-01-01 00:49:00+00:00, 2018-01-01 00:50:00+00:00, 2018-01-01 00:51:00+00:00, 2018-01-01 00:52:00+00:00, 2018-01-01 00:53:00+00:00, 2018-01-01 00:54:00+00:00, 2018-01-01 00:55:00+00:00, 2018-01-01 00:56:00+00:00, 2018-01-01 00:57:00+00:00, 2018-01-01 00:58:00+00:00, 2018-01-01 00:59:00+00:00, 2018-01-01 01:00:00+00:00, 2018-01-01 01:01:00+00:00, 2018-01-01 01:02:00+00:00, 2018-01-01 01:03:00+00:00, 2018-01-01 01:04:00+00:00, 2018-01-01 01:05:00+00:00, 2018-01-01 01:06:00+00:00, 2018-01-01 01:07:00+00:00, 2018-01-01 01:08:00+00:00, 2018-01-01 01:09:00+00:00, 2018-01-01 01:10:00+00:00, 2018-01-01 01:11:00+00:00, 2018-01-01 01:12:00+00:00, 2018-01-01 01:13:00+00:00, 2018-01-01 01:14:00+00:00, 2018-01-01 01:15:00+00:00, 2018-01-01 01:16:00+00:00, 2018-01-01 01:17:00+00:00, 2018-01-01 01:18:00+00:00, 2018-01-01 01:19:00+00:00, 2018-01-01 01:20:00+00:00, 2018-01-01 01:21:00+00:00, 2018-01-01 01:22:00+00:00, 2018-01-01 01:23:00+00:00, 2018-01-01 01:24:00+00:00, 2018-01-01 01:25:00+00:00, 2018-01-01 01:26:00+00:00, 2018-01-01 01:27:00+00:00, 2018-01-01 01:28:00+00:00, 2018-01-01 01:29:00+00:00, 2018-01-01 01:30:00+00:00, 2018-01-01 01:31:00+00:00, 2018-01-01 01:32:00+00:00, 2018-01-01 01:33:00+00:00, 2018-01-01 01:34:00+00:00, 2018-01-01 01:35:00+00:00, 2018-01-01 01:36:00+00:00, 2018-01-01 01:37:00+00:00, 2018-01-01 01:38:00+00:00, 2018-01-01 01:39:00+00:00, ...]

[1578241 rows x 0 columns]

In [30]:
pvsi['Paccdt']

2018-01-01 00:00:00+00:00    NaN
2018-01-01 00:01:00+00:00    NaN
2018-01-01 00:02:00+00:00    NaN
2018-01-01 00:03:00+00:00    NaN
2018-01-01 00:04:00+00:00    NaN
                            ...
2020-12-31 23:56:00+00:00    NaN
2020-12-31 23:57:00+00:00    NaN
2020-12-31 23:58:00+00:00    NaN
2020-12-31 23:59:00+00:00    NaN
2021-01-01 00:00:00+00:00    NaN
Freq: T, Name: Paccdt, Length: 1578241, dtype: object

In [31]:
 dfCDTsync['P_in1']

TIMESTAMP
2017-07-04 13:45:00+00:00    1479.3440
2017-07-04 13:46:00+00:00    1484.0010
2017-07-04 13:47:00+00:00    1486.0060
2017-07-04 13:48:00+00:00    1495.5130
2017-07-04 13:49:00+00:00    1501.0760
                               ...
2021-02-11 15:09:00+00:00     570.0408
2021-02-11 15:10:00+00:00     608.0389
2021-02-11 15:11:00+00:00     615.9943
2021-02-11 15:12:00+00:00     615.8973
2021-02-11 15:13:00+00:00     620.7158
Name: P_in1, Length: 1827429, dtype: float64

In [37]:
teste = pvsi.merge(dfCDTsync['P_in1'],left_index = True)

MergeError: Must pass right_on or right_index=True

In [96]:
teste4 = pvsi.merge(dfCDTsync, how = 'inner', left_index = True, right_index = True, validate = 'many_to_many')

In [43]:
pvsi.index

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 00:01:00+00:00',
               '2018-01-01 00:02:00+00:00', '2018-01-01 00:03:00+00:00',
               '2018-01-01 00:04:00+00:00', '2018-01-01 00:05:00+00:00',
               '2018-01-01 00:06:00+00:00', '2018-01-01 00:07:00+00:00',
               '2018-01-01 00:08:00+00:00', '2018-01-01 00:09:00+00:00',
               ...
               '2020-12-31 23:51:00+00:00', '2020-12-31 23:52:00+00:00',
               '2020-12-31 23:53:00+00:00', '2020-12-31 23:54:00+00:00',
               '2020-12-31 23:55:00+00:00', '2020-12-31 23:56:00+00:00',
               '2020-12-31 23:57:00+00:00', '2020-12-31 23:58:00+00:00',
               '2020-12-31 23:59:00+00:00', '2021-01-01 00:00:00+00:00'],
              dtype='datetime64[ns, Etc/GMT-0]', length=1578241, freq='T')

In [ ]:
pvsi.index.dropd

In [44]:
dfCDTsync.index

DatetimeIndex(['2017-07-04 13:45:00+00:00', '2017-07-04 13:46:00+00:00',
               '2017-07-04 13:47:00+00:00', '2017-07-04 13:48:00+00:00',
               '2017-07-04 13:49:00+00:00', '2017-07-04 13:50:00+00:00',
               '2017-07-04 13:51:00+00:00', '2017-07-04 13:52:00+00:00',
               '2017-07-04 13:53:00+00:00', '2017-07-04 13:54:00+00:00',
               ...
               '2021-02-11 15:04:00+00:00', '2021-02-11 15:05:00+00:00',
               '2021-02-11 15:06:00+00:00', '2021-02-11 15:07:00+00:00',
               '2021-02-11 15:08:00+00:00', '2021-02-11 15:09:00+00:00',
               '2021-02-11 15:10:00+00:00', '2021-02-11 15:11:00+00:00',
               '2021-02-11 15:12:00+00:00', '2021-02-11 15:13:00+00:00'],
              dtype='datetime64[ns, Etc/GMT-0]', name='TIMESTAMP', length=1827429, freq=None)

In [54]:
teste2.index

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 00:01:00+00:00',
               '2018-01-01 00:02:00+00:00', '2018-01-01 00:03:00+00:00',
               '2018-01-01 00:04:00+00:00', '2018-01-01 00:05:00+00:00',
               '2018-01-01 00:06:00+00:00', '2018-01-01 00:07:00+00:00',
               '2018-01-01 00:08:00+00:00', '2018-01-01 00:09:00+00:00',
               ...
               '2020-12-31 23:51:00+00:00', '2020-12-31 23:52:00+00:00',
               '2020-12-31 23:53:00+00:00', '2020-12-31 23:54:00+00:00',
               '2020-12-31 23:55:00+00:00', '2020-12-31 23:56:00+00:00',
               '2020-12-31 23:57:00+00:00', '2020-12-31 23:58:00+00:00',
               '2020-12-31 23:59:00+00:00', '2021-01-01 00:00:00+00:00'],
              dtype='datetime64[ns, Etc/GMT-0]', length=1578422, freq=None)

In [61]:
teste2

                           P_in1
2018-01-01 00:00:00+00:00    0.0
2018-01-01 00:01:00+00:00    0.0
2018-01-01 00:02:00+00:00    0.0
2018-01-01 00:03:00+00:00    0.0
2018-01-01 00:04:00+00:00    0.0
...                          ...
2020-12-31 23:56:00+00:00    0.0
2020-12-31 23:57:00+00:00    0.0
2020-12-31 23:58:00+00:00    0.0
2020-12-31 23:59:00+00:00    0.0
2021-01-01 00:00:00+00:00    NaN

[1578422 rows x 1 columns]

In [98]:
teste3 = pvsi.join(dfCDTsync, how = 'left')

In [99]:
teste3.index

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 00:01:00+00:00',
               '2018-01-01 00:02:00+00:00', '2018-01-01 00:03:00+00:00',
               '2018-01-01 00:04:00+00:00', '2018-01-01 00:05:00+00:00',
               '2018-01-01 00:06:00+00:00', '2018-01-01 00:07:00+00:00',
               '2018-01-01 00:08:00+00:00', '2018-01-01 00:09:00+00:00',
               ...
               '2020-12-31 23:51:00+00:00', '2020-12-31 23:52:00+00:00',
               '2020-12-31 23:53:00+00:00', '2020-12-31 23:54:00+00:00',
               '2020-12-31 23:55:00+00:00', '2020-12-31 23:56:00+00:00',
               '2020-12-31 23:57:00+00:00', '2020-12-31 23:58:00+00:00',
               '2020-12-31 23:59:00+00:00', '2021-01-01 00:00:00+00:00'],
              dtype='datetime64[ns, Etc/GMT-0]', length=1578422, freq=None)

In [100]:
pvsi.keys()

Index([], dtype='object')

In [97]:
teste4.index

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 00:01:00+00:00',
               '2018-01-01 00:02:00+00:00', '2018-01-01 00:03:00+00:00',
               '2018-01-01 00:04:00+00:00', '2018-01-01 00:05:00+00:00',
               '2018-01-01 00:06:00+00:00', '2018-01-01 00:07:00+00:00',
               '2018-01-01 00:08:00+00:00', '2018-01-01 00:09:00+00:00',
               ...
               '2020-12-31 23:50:00+00:00', '2020-12-31 23:51:00+00:00',
               '2020-12-31 23:52:00+00:00', '2020-12-31 23:53:00+00:00',
               '2020-12-31 23:54:00+00:00', '2020-12-31 23:55:00+00:00',
               '2020-12-31 23:56:00+00:00', '2020-12-31 23:57:00+00:00',
               '2020-12-31 23:58:00+00:00', '2020-12-31 23:59:00+00:00'],
              dtype='datetime64[ns, Etc/GMT-0]', length=1512451, freq=None)

In [106]:
q = teste2.index.difference(pvsi.index, sort = False)

In [107]:
q

DatetimeIndex([], dtype='datetime64[ns, Etc/GMT-0]', freq=None)

In [108]:
teste2

                           P_in1
2018-01-01 00:00:00+00:00    0.0
2018-01-01 00:01:00+00:00    0.0
2018-01-01 00:02:00+00:00    0.0
2018-01-01 00:03:00+00:00    0.0
2018-01-01 00:04:00+00:00    0.0
...                          ...
2020-12-31 23:56:00+00:00    0.0
2020-12-31 23:57:00+00:00    0.0
2020-12-31 23:58:00+00:00    0.0
2020-12-31 23:59:00+00:00    0.0
2021-01-01 00:00:00+00:00    NaN

[1578422 rows x 1 columns]

In [111]:
testebear= teste2.index.drop_duplicates()

In [112]:
testebear

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 00:01:00+00:00',
               '2018-01-01 00:02:00+00:00', '2018-01-01 00:03:00+00:00',
               '2018-01-01 00:04:00+00:00', '2018-01-01 00:05:00+00:00',
               '2018-01-01 00:06:00+00:00', '2018-01-01 00:07:00+00:00',
               '2018-01-01 00:08:00+00:00', '2018-01-01 00:09:00+00:00',
               ...
               '2020-12-31 23:51:00+00:00', '2020-12-31 23:52:00+00:00',
               '2020-12-31 23:53:00+00:00', '2020-12-31 23:54:00+00:00',
               '2020-12-31 23:55:00+00:00', '2020-12-31 23:56:00+00:00',
               '2020-12-31 23:57:00+00:00', '2020-12-31 23:58:00+00:00',
               '2020-12-31 23:59:00+00:00', '2021-01-01 00:00:00+00:00'],
              dtype='datetime64[ns, Etc/GMT-0]', length=1578241, freq=None)

In [113]:
ttt = dfCDTsync.index.drop_duplicates()

In [114]:
ttt

DatetimeIndex(['2017-07-04 13:45:00+00:00', '2017-07-04 13:46:00+00:00',
               '2017-07-04 13:47:00+00:00', '2017-07-04 13:48:00+00:00',
               '2017-07-04 13:49:00+00:00', '2017-07-04 13:50:00+00:00',
               '2017-07-04 13:51:00+00:00', '2017-07-04 13:52:00+00:00',
               '2017-07-04 13:53:00+00:00', '2017-07-04 13:54:00+00:00',
               ...
               '2021-02-11 15:04:00+00:00', '2021-02-11 15:05:00+00:00',
               '2021-02-11 15:06:00+00:00', '2021-02-11 15:07:00+00:00',
               '2021-02-11 15:08:00+00:00', '2021-02-11 15:09:00+00:00',
               '2021-02-11 15:10:00+00:00', '2021-02-11 15:11:00+00:00',
               '2021-02-11 15:12:00+00:00', '2021-02-11 15:13:00+00:00'],
              dtype='datetime64[ns, Etc/GMT-0]', name='TIMESTAMP', length=1827248, freq=None)

In [115]:
dfCDTsync

,E_tot,V_grid,I_grid,P_grid,F_grid,P_in1,V_in1,I_in1,P_in2,V_in2,I_in2,T_inverter,T_booster,R_iso
TIMESTAMP,,,,,,,,,,,,,,
2017-07-04 13:45:00+00:00,2193.921,234.6536,6.196396,1434.9640,59.98176,1479.3440,319.4513,4.700523,0.0,0,0,39.08350,33.51683,5.0
2017-07-04 13:46:00+00:00,2193.947,234.8455,6.196651,1439.2920,59.99952,1484.0010,319.8006,4.718031,0.0,0,0,39.08350,33.30969,5.0
2017-07-04 13:47:00+00:00,2193.972,234.7815,6.211050,1441.4260,60.00360,1486.0060,319.7704,4.747102,0.0,0,0,39.21859,33.41356,5.0
2017-07-04 13:48:00+00:00,2193.993,234.6642,6.275977,1450.1460,60.00192,1495.5130,320.0895,4.776174,0.0,0,0,39.24561,33.30969,5.0
2017-07-04 13:49:00+00:00,2194.021,234.4241,6.284834,1456.0430,59.98608,1501.0760,320.4254,4.810109,0.0,0,0,39.24561,33.15329,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-11 15:09:00+00:00,13115.830,215.2951,2.661140,552.9396,59.97337,570.0408,311.8500,1.941638,0.0,0,0,44.47314,38.33249,5.0
2021-02-11 15:10:00+00:00,13115.840,215.6855,2.843410,590.6448,60.01645,608.0389,312.9937,2.030582,0.0,0,0,44.47314,38.43271,5.0
2021-02-11 15:11:00+00:00,13115.840,215.6725,2.846778,598.1732,60.00326,615.9943,313.4791,2.041984,0.0,0,0,44.40621,38.42018,5.0
2021-02-11 15:12:00+00:00,13115.860,215.6638,2.798108,597.4203,59.97649,615.8973,313.7646,2.058465,0.0,0,0,44.31250,38.33249,5.0
2021-02-11 15:13:00+00:00,13115.870,215.8088,2.816951,602.2512,60.00048,620.7158,313.9896,2.075810,0.0,0,0,44.31250,38.33249,5.0

In [118]:
dfCDT  = pd.read_csv(inv_path + 'CDT.csv') 
dfCDT['TIMESTAMP'] = dfCDT['TIMESTAMP'].astype(np.datetime64)
dfCDT = dfCDT.set_index('TIMESTAMP')
dfCDT = dfCDT.index.drop_duplicates()

dfCDTnosync = dfCDT[dfCDT.index < '2018-11-27 00:00:00']  # this part is in BRT (GMT - 3)
dfCDTnosync.index = dfCDTnosync.index.tz_localize(tzBRA)
dfCDTnosync.index = dfCDTnosync.index.tz_convert(tzETC)
dfCDTsync = dfCDT[dfCDT.index > '2018-11-28 00:00:00']  #  # this part is in  (GMT - 0)
dfCDTsync.index = dfCDTsync.index.tz_localize(tzETC)
dfCDTsync = [dfCDTnosync, dfCDTsync]
dfCDTsync = pd.concat(dfCDTsync)

AttributeError: 'DatetimeIndex' object has no attribute 'index'